.post-divider {
  border: 0.25px solid #232323;
}

.post-list-item {
  list-style-type: none;
}

.post-metadata {
  align-self: flex-start;
}

.post-title {
  margin: 24px 0 4px 0;
}

.post-image img {
  width: 100%;
  height: 640px;
  object-fit: cover; /* Makes sure even vertical images fill horizontally */
  object-position: center center;
  display: block;
}

.post-link {
  text-decoration: underline;
  font-size: 18px;
}

.post-date {
  padding: 2px 6px;
  border-radius: 2px;
  background: var(--red-1);
  color: var(--red-2);
  width: -moz-fit-content;
  width: fit-content;
}

.post-item {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  justify-content: space-between;
}

.post-cover-image {
  width: 240px;
  height: 240px;
  object-fit: cover;
  clip-path: polygon(0 15%, 100% 15%, 100% 85%, 0 85%);
  border-radius: 8px;
}

.post-tags {
  margin-top: 32px;
}

.post-tag {
  margin: 2px;
  padding: 2px 4px;
  border-radius: 2px;
  font-size: 12px;
  background: var(--transparent-1);
}

.post-image-caption {
  align-items: center;
  font-size: 14px;
  color: #989898;
  margin: 24px 0;
}

p {
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 1.5em;
}

.subscribe-form {
  display: flex;
  justify-content: space-between;
}

.subscribe-form * {
  margin-right: 8px;
  width: 100%;
  border-radius: 2px;
}

.subscribe-form > button {
  width: 35%;
  height: 36px;
  background: #4ea5e4;
  font-weight: bold;
}

.subscribe-form > button:hover {
  background: #3788c2;
  cursor: pointer;
}

.subscribe-form > div > input {
  padding: 8px;
  height: 36px;
}

.subscribe-selection {
  display: flex;
  padding: 0;
  margin: 0;
}

.subscribe-selection > label {
  display: flex;
  align-items: center; /* Align checkbox and text vertically */
  width: 50%; /* Make labels flexible half-width */
  font-size: 14px;
  margin-top: 12px;
}

.subscribe-selection > label input[type="checkbox"] {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

@media (max-width: 1024px) {
  .align-center {
    align-self: flex-start;
  }
  .post-item {
    flex-direction: column-reverse;
  }

  .post-cover-image {
    width: 100%;
    clip-path: polygon(0 5%, 100% 5%, 100% 95%, 0 95%);
  }

  .post-image img {
    height: 320px;
    margin: 12px 0;
  }

  .subscribe-form > button {
    width: 55%;
  }
}
