.grid-container {
  column-gap: 16px; /* Adjust the gap between columns */
  column-count: 4; /* Set the number of columns you want */
}

.grid-item {
  display: inline-block;
  width: 100%; /* This will make each item take up the entire column width */
  margin-bottom: 12px; /* Adjust the gap between items vertically */
}

@media (max-width: 428px) {
  .grid-container {
    column-gap: 12px; /* Adjust the gap between columns */
    column-count: 1; /* Set the number of columns you want */
  }
}
