:root {
  --font-size: 16px;
  --red-1: rgba(0, 128, 255, 0.25);
  --red-2: rgb(33, 143, 252);
  --transparent-1: #ffffff0d;
}

body {
  height: 100%;
  background-color: #1d1d1d;
  color: #f2f2f2;
  word-break: break-word;
  overflow-x: hidden;
}

footer {
}

footer > div > a {
  padding-right: 12px;
}

.footer {
  margin: 64px 0;
}

.header {
  margin: 24px 0;
}

video {
  width: 100%;
  object-fit: cover;
  padding: 16px;
  height: 720px;
}

hr {
  width: 100%;
  margin: 3vw 0;
}

h1 {
  font-size: calc(var(--font-size) * 3.25);
  font-weight: calc(var(--font-weight) * 0.66);
}

h2 {
  font-size: calc(var(--font-size) * 1.5);
  font-weight: calc(var(--font-weight) * 0.66);
}

h3 {
  font-size: calc(var(--font-size) * 1.25);
  font-weight: calc(var(--font-weight) * 0.66);
}

h5 {
  font-size: calc(var(--font-size) * 0.75);
  font-weight: calc(var(--font-weight) * 1.66);
  line-height: var(--line-height);
}

h1 > bold {
  font-weight: calc(var(--font-weight) * 2.66);
}

p,
a {
  font-size: 14px;
  color: #f2f2f2;
}

nav > a {
  font-size: 20px;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 2px;
}

li {
  list-style: inside;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

u {
  text-decoration: underline;
}

s {
  text-decoration: line-through;
}

// Image URL Fragmet styling, read more about it here https://dzone.com/articles/how-to-style-images-with-markdown

.italic {
  font-style: italic;
}

.yng-svg {
  max-height: 240px;
  position: absolute;
  top: 14%;
  width: 90%;
  z-index: -1;
}

.yellow {
  color: #e7ff41;
}

.red {
  color: var(--red-2);
  background: var(--red-1);
  padding: 2px 4px;
  font-size: 14px;
  width: fit-content;
}

.main-container {
  padding: 2vw 6vw 6vw;
}

.height-100vh {
  height: 100vh;
}

.features-mentions {
  padding: 12px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
  gap: 6px;
}

.about-body {
  padding: 12px 0;
}

.space-between {
  justify-content: space-between;
}

.flex-items-center {
  display: flex;
  align-items: center;
}

.button {
  padding: 24px;
  background: white;
}

.sticky {
  top: 0;
  padding: 16px 16px;
}

.name {
  font-size: 16px;
  font-weight: 700;
  font-style: italic;
}

.logo {
  background-image: url("/logo.svg");
  background-repeat: no-repeat;
}

.logo:hover {
  background-image: url("/logo-red.svg");
}

.icon {
  width: 24px;
  margin-right: 8px;
}

.icon:hover {
  scale: 1.1;
}

.center {
  display: flex;
  justify-content: center;
}

.align-items-center {
  display: flex;
  align-items: center;
}

.collection-image {
  z-index: -100;
  object-fit: cover;
}

.separator {
  margin: 24px 0;
}

.dropbtn {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 20px;
}

.dropbtn:hover {
  color: #dddddde0;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1d1;
  min-width: 112px;
  z-index: 1000;
}

.dropdown-content a {
  color: black;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.index-cover {
  background-image: url("/index-loop/index-cover-3.png");
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  animation: rotateImages 20s infinite;
  background-size: cover;
}

@keyframes rotateImages {
  0% {
    background-image: url("/index-loop/index-cover-3.png");
  }
  16% {
    background-image: url("/index-loop/index-cover-2.png");
  }
  32% {
    background-image: url("/index-loop/index-cover-1.png");
  }
  48% {
    background-image: url("/index-loop/index-cover-4.png");
  }
  64% {
    background-image: url("/index-loop/index-cover-5.png");
  }
  80% {
    background-image: url("/index-loop/index-cover-6.png");
  }
  100% {
    background-image: url("/index-loop/index-cover-3.png");
  }
}

details > summary {
  list-style-type: "► ";
}

details[open] > summary {
  list-style-type: "▼ ";
}

.cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
}

.cover-main {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
}

.shop-cover {
  background-size: 220% auto;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
}

.image-wrapper {
  background-color: var(--transparent-1);
}

.shop-image {
  transition: transform 0.3s ease;
}

.shop-image:hover {
  transform: scale(1.05);
}

.inner-cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 100%;
}

.blog-card {
  display: flex;
  flex-direction: column;
}

.blog-container {
  padding: 6vw 24vw;
}

.blog-date {
  padding: 2px 6px;
  border-radius: 2px;
  background: var(--red-1);
  color: var(--red-2);
  width: fit-content;
}

.blog-text {
  margin: 12px 0 24px 0;
  font-size: 18px;
  font-weight: 200;
}

.fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: zoom-out;
}

.fullscreen-overlay img {
  max-width: 80%;
  max-height: 90vh;
  width: auto;
  height: auto;
  border-radius: 8px;
  object-fit: contain;
}

.fullscreen-overlay img.portrait {
  align-self: center;
}

/* Optional: Adjust behavior further if needed */
.fullscreen-overlay img.portrait {
  max-height: 50%;
}

.fullscreen-overlay img.landscape {
  max-width: 90vw;
  max-height: auto;
}

.blog-image.landscape {
  width: 100%;
  object-fit: cover;
}

.blog-image.portrait {
  display: block;
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
  height: auto;
  max-height: 80vh;
}

.daynote-image-wrapper {
  display: flex;
  justify-content: center;
}

.daynote-image-wrapper:hover {
  cursor: pointer;
}

.blog-separator {
  width: 100%;
  text-align: center;
  padding: 30px;
}

.blog-icon {
  width: 48px;
}

.blog-footer {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding: 24px;
  margin-bottom: 42px;
  background: var(--transparent-1);
}

.daynotes-wrapper > * {
  width: 100%;
}

.daynote-metadata {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

@media (max-width: 1648px) {
  .product-item {
    width: 40%;
  }
}
@media (max-width: 1024px) {
  .blog-container {
    padding: 0;
  }

  .blog-image.portrait {
    width: 100%;
  }

  .fullscreen-overlay img {
    max-width: 95%;
  }

  .blog-footer {
    align-items: center;
    flex-direction: column;
  }

  .main-container {
    padding: 6vw;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
    flex-direction: column;
    gap: 24px;
  }
}

@media (max-width: 428px) {
  .index-cover {
    background-image: url("/index-loop/index-cover-mobile-3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: rotateImages 20s infinite;
    transition-timing-function: ease;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }

  .cover,
  .cover-main {
    height: 40vh;
  }

  .inner-cover {
    background-size: 170% auto;
  }

  .shop-cover {
    background-size: 320% auto;
  }

  .sticky {
    padding: 0;
  }

  .title {
    font-size: 36px;
  }

  @keyframes rotateImages {
    0% {
      background-image: url("/index-loop/index-cover-mobile-3.png");
    }
    16% {
      background-image: url("/index-loop/index-cover-mobile-2.png");
    }
    32% {
      background-image: url("/index-loop/index-cover-mobile-1.png");
    }
    48% {
      background-image: url("/index-loop/index-cover-mobile-4.png");
    }
    64% {
      background-image: url("/index-loop/index-cover-mobile-5.png");
    }
    80% {
      background-image: url("/index-loop/index-cover-mobile-6.png");
    }
    100% {
      background-image: url("/index-loop/index-cover-mobile-3.png");
    }
  }
}
