:root {
  --font-size: 16px;
}

body {
  height: 100%;
  background-color: black;
  color: #f2f2f2;
  word-break: break-word;
}

footer {
  padding: 3vw 0 0 0;
  justify-content: flex-end;
}

footer > div > a {
  padding-right: 12px;
}

.footer {
  margin: 64px 0;
}

.header {
  margin: 24px 0;
}

video {
  width: 100%;
  object-fit: cover;
}

hr {
  width: 100%;
  margin: 3vw 0;
}

h1 {
  font-size: calc(var(--font-size) * 4);
  font-weight: calc(var(--font-weight) * 0.66);
}

h2 {
  font-size: calc(var(--font-size) * 1.5);
  font-weight: calc(var(--font-weight) * 0.66);
}

h5 {
  font-size: calc(var(--font-size) * 0.75);
  font-weight: calc(var(--font-weight) * 1.66);
  line-height: var(--line-height);
}

h1 > bold {
  font-weight: calc(var(--font-weight) * 2.66);
}

p,
a {
  font-size: 14px;
  color: #f2f2f2;
}

a {
  text-decoration: none;
}

a:hover {
  color: #f32432;
}

a:hover > small {
  font-weight: 400;
}

img {
  width: 100%;
  height: 100%;
}

li {
  list-style: inside;
}

// Image URL Fragmet styling, read more about it here https://dzone.com/articles/how-to-style-images-with-markdown

small {
  font-size: 14px;
}

.italic {
  font-style: italic;
}

.yng-svg {
  max-height: 240px;
  position: absolute;
  top: 14%;
  width: 90%;
  z-index: -1;
}

.yellow {
  color: #e7ff41;
}

.main-container {
  padding: 2vw 6vw 6vw;
  max-width: 1920px;
}

.height-100vh {
  height: 100vh;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.about-body {
  padding: 12px 0;
}

.space-between {
  justify-content: space-between;
}

.flex-items-center {
  display: flex;
  align-items: center;
}

.button {
  padding: 24px;
  background: white;
}

.sticky {
  top: 0;
  padding: 16px 0;
}

.name {
  font-size: 16px;
  font-weight: 700;
  font-style: italic;
}

.logo {
  background-image: url("/logo.svg");
  background-repeat: no-repeat;
}

.logo:hover {
  background-image: url("/logo-red.svg");
}

.icon {
  width: 24px;
}

.icon:hover {
  scale: 1.1;
}

.center {
  display: flex;
  justify-content: center;
}

.collection-image {
  z-index: -100;
  object-fit: cover;
}

.separator {
  margin: 24px 0;
}

.dropbtn {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 14px;
}

.dropbtn:hover {
  color: #ff5050;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 112px;
  z-index: 1000;
}

.dropdown-content a {
  color: black;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: #ff5050;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.index-cover {
  background-image: url("/index-loop/index-cover-3.png");
  background-position: center;
  background-repeat: no-repeat;
  min-height: 720px;
  animation: rotateImages 20s infinite;
  background-size: contain;
}

details > summary {
  list-style-type: "► ";
}

details[open] > summary {
  list-style-type: "▼ ";
}

@keyframes rotateImages {
  0% {
    background-image: url("/index-loop/index-cover-3.png");
  }
  16% {
    background-image: url("/index-loop/index-cover-2.png");
  }
  32% {
    background-image: url("/index-loop/index-cover-1.png");
  }
  48% {
    background-image: url("/index-loop/index-cover-4.png");
  }
  64% {
    background-image: url("/index-loop/index-cover-5.png");
  }
  80% {
    background-image: url("/index-loop/index-cover-6.png");
  }
  100% {
    background-image: url("/index-loop/index-cover-3.png");
  }
}

@media (max-width: 1648px) {
  .product-item {
    width: 40%;
  }
}
@media (max-width: 1024px) {
  .main-container {
    padding: 6vw;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
  }
}

@media (max-width: 428px) {
  .index-cover {
    background-image: url("/index-loop/index-cover-mobile-3.png");
    background-position: center;
    background-repeat: no-repeat;
    min-height: 562px;
    background-size: cover;
    animation: rotateImages 20s infinite;
  }

  @keyframes rotateImages {
    0% {
      background-image: url("/index-loop/index-cover-mobile-3.png");
    }
    16% {
      background-image: url("/index-loop/index-cover-mobile-2.png");
    }
    32% {
      background-image: url("/index-loop/index-cover-mobile-1.png");
    }
    48% {
      background-image: url("/index-loop/index-cover-mobile-4.png");
    }
    64% {
      background-image: url("/index-loop/index-cover-mobile-5.png");
    }
    80% {
      background-image: url("/index-loop/index-cover-mobile-6.png");
    }
    100% {
      background-image: url("/index-loop/index-cover-mobile-3.png");
    }
  }
}
